/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/README.md export-ignore
/src export-ignore
/box.json export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
/pint export-ignore
/cghooks.lock export-ignore
/build export-ignore
